.top-nav {
    background-color:#A78EC3;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}

.opportunities{
    color:#FFFFFF;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    margin-top: 0px;
    padding: 0px;
    width: 290px;
    display: flex;
    font-size: 30px;
}

.opportunity-card-content {
  width: 100%;
}

.pagination{
    margin-top:20px;
    border-width: 2px;
    border-color: #a78ec3;
    color: #a78ec3;
    background-color: white !important;
}

.positions{
    background-color: rgb(185, 183, 183);
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}

.apply-btn {
  border-color: #a78ec3;
  color: #a78ec3;
}

button.apply-btn:hover {
  border-color: #a78ec3;
  color: #a78ec3;
  background-color: white !important;
}

button.apply-btn:focus {
  box-shadow: none;
}

.apply-btn-container {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-label {
  padding-top: 3px;
  padding-left: 5px
}