.page-content {
  padding-top: 30px;
}
  
.all-courses-list {
  max-width: 100%;
}
  
.all-courses-card {
  border-color: rgba(0,0,0,0.1);
  border-width: 1px;
  border-style: solid;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  background-color: white;
  border-radius: 5px;
}
  
button.learn-more-btn:hover {
  border-width: 2px;
  border-color: #a78ec3;
  color: #a78ec3;
  background-color: white !important;
}
  
.course-image {
  max-width: 100%;
  height: 100px;
  display: block;
  object-fit: cover !important;
  text-align: center;
  margin: auto;
}
  
.learn-more-btn {
  border-color: #a78ec3;
  color: #a78ec3;
}
  
.search {
  width: 100%;
}