
.consultant-main{
    min-height: 100vh;
   position: relative;
   min-width: 960px;
 }
.consultant-content-wrap{
   height: 100%;
}
.consultant-dashboard {
   color:#FFFFFF;
   justify-content: start;
   align-items: center;
   margin-left: 270px;
   margin-top: 0px;
   padding: 0px;
   width: 290px;
   display: flex;
}

.consultant-top-navbar {
   background-color:#A78EC3;
   height: 80px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: auto;
   top:0px;
   position: relative;
}

.consultant-Foot{
   
   padding: 0;
   width: 100%;
   position: relative;
   bottom:300px;
}



.consultant-sidebar {
   background-color:#FFFFFF;
   padding-left: 0;
   width: 210px;
   display: flex;
   justify-content: center;
   position: absolute;
   top:0;
   left: 0;
   margin: 0px auto 0 0;
   
   
}

.consultant-nav-text {
   display: flex;
   justify-content: start;
   align-items: center;
   padding: 0px;
   list-style: none;
   height: 60px;
   margin: 30px auto 20px auto;
   width: 100%;
   color: #9D9D9D;
}

.consultant-nav-text a {
   margin-left: 5px;
   margin-right: 5px;
   text-decoration: none;
   color: #f5f5f5;
   font-size: 18px;
   width: 100%;
   height: 100%;
   display: flex;
   padding: 0px;
   align-items: center;
   border-radius: 4px;
   color: #9D9D9D;
}

.consultant-nav-text a:hover {
   background-color: #A78EC3;
   color: #FFFFFF;
}

.consultant-nav-menu-items {
   
   width: 100%;
   margin: 0 auto;
   padding-left: 5px;
   padding-right: 5px;
   align-items: center;
   text-align: center;
}





.consultant-logo {
   margin-top: 15px;
}

.consultant-add-course{
   width:100px;
   position: relative;
   right:440px;
   margin-top: 2rem;
}

.consultant-calendar {
   color: #A78EC3;
   justify-content: start;
   align-items: center;
   margin-left: 270px;
   margin-top: 50px;
   width: 0px;
   padding: 0px;
   display: flex;
}

.consultant-classes {
   color: #A78EC3;
   justify-content: start;
   align-items: center;
   margin-left: 270px;
   margin-top: 270px;
   padding: 0px;
   width: 230px;
   display: flex;
}
.consultant-course-list{
   align-items: center;
   position: relative;
   left: 15%;
}
.consultant-courseImg{
   width:175px;
   height:175px;
}