.profile-main{
  min-height: 100vh;
  position: relative;
  min-width: 960px;
}

.profile-padding {
  padding: 10px 0px 0px 10px;
}

.profile-small-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
  display: inline;
}

.profile-info-title {
  display: inline;
}

.profile-component-image {
  border: 1px;
  width: 100px;
  height: 100px;
  max-width: 100% !important;
  display: inline;
  vertical-align: top;
}

.profile-buttons {
  display: inline-grid;
}

.profile-action-btn{
  margin-left: 30px;
  padding: 2px;
}

.profile-below {
  margin-top: 15px;
}

.profile-btn-save {
  margin-top: 100px;
  margin-left: 5px;
}