.TitleHeader{
    text-align: center;
}
.middle{
    text-align: center;
}

img{
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
}

.second1{
    margin-left: 40%;
}

.start{
    color: blueviolet;
    border-radius: 10px;
}

.start:hover { color: blueviolet; }

h1{
    padding-top:25px;
}

.main-body{
    min-height: 100vh;
}

.footer-bottom{
    bottom: 0px;
    left: 0px;
}

.content-wrap{
    padding-bottom: 15 rem;
 }
